@model IEnumerable<MedInsight.Models.Illness>

@{
    ViewData["Title"] = "Illness";
}

<h1>Illnesses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Prognosis)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Prognosis)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <br />
    <br />
    <br />
    <h2>List of Medical Conditions</h2>
    All illnesses currently in the MedInsight Database
    <br />
    <br />
    <ul>
        <li>AIDS</li>
        <li>Acne</li>
        <li>Alcoholic Hepatitis</li>
        <li>Allergy</li>
        <li>Arthritis</li>
        <li>Bronchial Asthma</li>
        <li>Cervical Spondylosis</li>
        <li>Chickenpox</li>
        <li>Chronic Cholestasis</li>
        <li>Common Cold</li>
        <li>Dengue</li>
        <li>Diabetes</li>
        <li>Dimorphic Hemmorhoids (piles)</li>
        <li>Drug Reaction</li>
        <li>Fungal Infection</li>
        <li>GERD</li>
        <li>Gastroenteritis</li>
        <li>Heart Attack</li>
        <li>Hepatitis A</li>
        <li>Hepatitis B</li>
        <li>Hepatitis C</li>
        <li>Hepatitis D</li>
        <li>Hepatitis E</li>
        <li>Hypertension</li>
        <li>Hyperthyroidism</li>
        <li>Hypoglycemia</li>
        <li>Hypothyroidism</li>
        <li>Impetigo</li>
        <li>Jaundice</li>
        <li>Malaria</li>
        <li>Migraine</li>
        <li>Osteoarthritis</li>
        <li>Paralysis (brain hemorrhage)</li>
        <li>Peptic Ulcer Disease</li>
        <li>Pneumonia</li>
        <li>Psoriasis</li>
        <li>Tuberculosis</li>
        <li>Typhoid</li>
        <li>Urinary Tract Infection</li>
        <li>Varicose Veins</li>
        <li>Vertigo</li>
    </ul>
</p>
